.add-category{
    width: 400px;
    padding-left: 70px;
}

.add-category form.form{
    width: 335px;
}

.add-category .ant-form-item{
    margin-bottom: 10px;
}

.add-category .upload-box{
    width: 330px;
    height: 170px;
}

.add-category .add-category-image{
    border-radius: 12px;
    padding-left: 226px;
}

.add-category .ant-upload.ant-upload-select.ant-upload-select-picture-card{
    width: 330px;
    height: 170px;
}

.add-category .added-image{
    width: 330px;
    height: 170px;
    border-radius: 12px;
}

.add-category .ant-form-item-label{
    font-weight: bold;
    width: 100px;
    text-align: left;
}

.add-category input.input{
    background-color: #C4C4C4;
    width: 226px;
    height: 30px;
    border-radius: 12px;
}

.add-category .cancel-col{
    padding-left: 20px;
}

.add-category .button{
    background-color: #79DE95;
    border-color: #79DE95;
    height: 68px;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

.add-category .button.button-create{
    width: 326px;
}

.add-category .button span{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}